 .question {
     position: relative;
     padding: 10px 0;
 }
 
 .question:first-of-type {
     padding-top: 0;
 }
 
 .question:last-of-type {
     padding-bottom: 0;
 }
 
 .question label {
     transform-origin: left center;
     color: #000000;
     font-weight: 100;
     letter-spacing: 0.01em;
     font-size: 17px;
     box-sizing: border-box;
     padding: 10px 15px;
     display: block;
     position: absolute;
     margin-top: -40px;
     z-index: 2;
     pointer-events: none;
 }
 
 .question input[type="text"] {
     appearance: none;
     background-color: none;
     border: 1px solid #000000;
     line-height: 0;
     font-size: 17px;
     width: 100%;
     display: block;
     box-sizing: border-box;
     padding: 10px 15px;
     border-radius: 60px;
     color: #000000;
     font-weight: 100;
     letter-spacing: 0.01em;
     position: relative;
     z-index: 1;
 }
 
 .question input[type="text"]:focus {
     outline: none;
     background: #000000;
     color: white;
     margin-top: 30px;
 }
 
 .question input[type="text"]:valid {
     margin-top: 30px;
 }
 
 .question input[type="text"]:focus~label {
     -moz-transform: translate(0, -35px);
     -ms-transform: translate(0, -35px);
     -webkit-transform: translate(0, -35px);
     transform: translate(0, -35px);
 }
 
 .question input[type="text"]:valid~label {
     text-transform: uppercase;
     font-style: italic;
     -moz-transform: translate(5px, -35px) scale(0.6);
     -ms-transform: translate(5px, -35px) scale(0.6);
     -webkit-transform: translate(5px, -35px) scale(0.6);
     transform: translate(5px, -35px) scale(0.6);
 }
 
 @-webkit-keyframes orbit {
     0% {
         -webkit-transform: rotateY(90deg) rotate(0deg);
     }
     60% {
         -webkit-transform: rotateY(90deg) rotate(-180deg);
     }
     100% {
         -webkit-transform: rotateY(90deg) rotate(-360deg);
     }
 }
 
 @-moz-keyframes orbit {
     0% {
         -moz-transform: rotateY(90deg) rotate(0deg);
     }
     60% {
         -moz-transform: rotateY(90deg) rotate(-180deg);
     }
     100% {
         -moz-transform: rotateY(90deg) rotate(-360deg);
     }
 }
 
 @keyframes orbit {
     0% {
         -webkit-transform: rotateY(90deg) rotate(0deg);
         -moz-transform: rotateY(90deg) rotate(0deg);
         -ms-transform: rotateY(90deg) rotate(0deg);
         -o-transform: rotateY(90deg) rotate(0deg);
         transform: rotateY(90deg) rotate(0deg);
     }
     60% {
         -webkit-transform: rotateY(90deg) rotate(-180deg);
         -moz-transform: rotateY(90deg) rotate(-180deg);
         -ms-transform: rotateY(90deg) rotate(-180deg);
         -o-transform: rotateY(90deg) rotate(-180deg);
         transform: rotateY(90deg) rotate(-180deg);
     }
     100% {
         -webkit-transform: rotateY(90deg) rotate(-360deg);
         -moz-transform: rotateY(90deg) rotate(-360deg);
         -ms-transform: rotateY(90deg) rotate(-360deg);
         -o-transform: rotateY(90deg) rotate(-360deg);
         transform: rotateY(90deg) rotate(-360deg);
     }
 }
 
 .button {
     display: inline-block;
     border-radius: 10px;
     border: 1px solid rgba(0, 0, 0, 0.05);
     position: relative;
     padding: 20px 30px 20px 70px;
     background: #5400d8;
     color: #fff;
     cursor: pointer;
     -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
     -ms-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
     transform-style: preserve-3d;
     -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
     transition: all 500ms ease-in-out;
     margin: auto;
 }
 
 .button:hover {
     -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
     -ms-transform: translateY(-5px);
     -o-transform: translateY(-5px);
     transform: translateY(-5px);
     color: #fff;
     background: #5400d8;
 }
 
 .button:hover>span {
     -webkit-transition: all 800ms ease-in-out;
     -moz-transition: all 800ms ease-in-out;
     transition: all 800ms ease-in-out;
     -webkit-transform: rotateY(90deg) rotate(-360deg);
     -moz-transform: rotateY(90deg) rotate(-360deg);
     -ms-transform: rotateY(90deg) rotate(-360deg);
     -o-transform: rotateY(90deg) rotate(-360deg);
     transform: rotateY(90deg) rotate(-360deg);
 }
 
 .button>span {
     width: 80px;
     display: block;
     position: absolute;
     left: 0;
     top: -40px;
     bottom: -40px;
     border-radius: 50%;
     -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
     -ms-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
     transform-style: preserve-3d;
     -webkit-transform: rotateY(90deg) rotate(0deg);
     -moz-transform: rotateY(90deg) rotate(0deg);
     -ms-transform: rotateY(90deg) rotate(0deg);
     -o-transform: rotateY(90deg) rotate(0deg);
     transform: rotateY(90deg) rotate(0deg);
 }
 
 .button>span>span {
     position: absolute;
     background: #fff;
     width: 16px;
     height: 17px;
     left: 0;
     top: 50px;
     -webkit-transform: rotateY(-90deg);
     -moz-transform: rotateY(-90deg);
     -ms-transform: rotateY(-90deg);
     -o-transform: rotateY(-90deg);
     transform: rotateY(-90deg);
 }
 
 .button>span>span::before {
     position: absolute;
     content: "";
     top: 100%;
     left: 0;
     margin-left: -7px;
     border-top: 16px solid #fff;
     border-bottom: 0 solid transparent;
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
 }