html,
body {
    height: 100%;
    margin: 0px;
    background: radial-gradient(circle, rgba(84, 0, 216, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.head {
    background-color: #5400d8;
    height: 70px;
}

.music-card {
    background-color: #b805c5;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    overflow: hidden;
    color: #ffffff;
    /* box-shadow: inset 0 0 1em #e524f3, 0 0 1em #e524f3; */
}

.music-card.active {
    background-color: #5400d8;
}

.duracao {
    margin-left: auto;
    font-size: 20px;
    display: block;
    text-align: right;
    margin-right: 5px;
}

.titulo {
    margin-left: 5px;
    margin-right: 5px;
    line-height: 25px;
    font-weight: 800;
    display: block;
}

.linha {
    display: flex;
    width: 100%;
}

.col {
    width: 33.33%;
    display: inline-flex;
}

.botao {
    background-color: #b805c5;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    color: #ffffff;
}

.botao svg {
    margin: auto;
}

.head img {
    position: relative;
    left: 50%;
    height: 60px;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
}

.body {
    background-color: #000000;
    height: calc(100% - 190px);
    display: block;
    width: 100%;
    max-height: calc(100% - 190px);
    overflow-y: auto;
}

.body-full {
    background-color: #000000;
    height: calc(100% - 70px);
    max-height: calc(100% - 70px);
    overflow-y: auto;
    display: block;
    width: 100%;
}

.card {
    height: 100%;
}

.foot {
    height: 120px;
    background-color: #ffffff;
    border-top: 1px solid #5400d8;
}

.bar {
    background: #59FFF2;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -800ms linear infinite alternate;
}

.mini-bars {
    height: 30px;
    left: 50%;
    margin: -37px 0 0 -20px;
    position: relative;
    top: 50%;
    width: 40px;
    transform: scale(0.5);
}

.bars {
    height: 30px;
    left: 50%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 40px;
    transform: scale(2);
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
}

.bar:nth-child(2) {
    left: 5px;
    animation-duration: 433ms;
}

.bar:nth-child(3) {
    left: 9px;
    animation-duration: 407ms;
}

.bar:nth-child(4) {
    left: 13px;
    animation-duration: 458ms;
}

.bar:nth-child(5) {
    left: 17px;
    animation-duration: 400ms;
}

.bar:nth-child(6) {
    left: 21px;
    animation-duration: 427ms;
}

.bar:nth-child(7) {
    left: 25px;
    animation-duration: 441ms;
}

.bar:nth-child(8) {
    left: 29px;
    animation-duration: 419ms;
}

.bar:nth-child(9) {
    left: 33px;
    animation-duration: 487ms;
}

.bar:nth-child(10) {
    left: 37px;
    animation-duration: 442ms;
}

.empty-progress {
    height: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #b805c5;
}

.progress {
    background-color: #5400d8;
    height: 15px;
    border-radius: 10px;
}